*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

.uploadcare--widget__button.uploadcare--widget__button_type_open {
  background-color: #2b9dff;

}

.flex{
  display: flex;
}

.center{
  justify-content: center;
  align-items: center;
}

.column{
  flex-direction: column;
}

/* misc */

#start-button{
  background-color: #387ADF;
  color: white;
}

#start-button:hover{
  background-color: #40A2E3;
  color: white;
  cursor: pointer;
}