.loading-container {
  height: 100vh; /* Adjust as needed */
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-container marquee {
  animation: marqueeAnimation 2s linear infinite;
}

@keyframes marqueeAnimation {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
